<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/boilerplate.css">    
    <link rel="stylesheet" href="/css/style.css">
    <title>Cidar - Build Radiator</title>
  </head>
  <body>
    <div id="container">
      <div class="status-box">
        <ol>
          <li class="upstream">
            <span class="<%= status_of("core :: build") %>">core</span>      
            <span class="details"><%= @status.buildLabel %>                            
  	        <span class="commit_message"><%= commit_message("core :: build") %>                
          </li>  
          <li class="upstream">
            <span class="<%= status_of("core-marklogic :: integration_functional_tests") %>">core-marklogic</span>      
            <span class="details"><%= @status.buildLabel %>                            
            <span class="commit_message"><%= commit_message("core-marklogic :: integration_functional_tests") %>                
          </li> 
          <li class="upstream">
            <span class="<%= status_of("dev-system-tests :: new-system-tests") %>">new-system-tests</span>      
            <span class="details"><%= @status.buildLabel %>                            
            <span class="commit_message"><%= commit_message("dev-system-tests :: new-system-tests") %>                
          </li>  
          <li class="upstream">
            <span class="<%= status_of("dev-system-tests :: system-tests") %>">system-tests</span>      
            <span class="details"><%= @status.buildLabel %>                            
            <span class="commit_message"><%= commit_message("dev-system-tests :: system-tests") %>                
          </li>  
          <li class="upstream">
            <span class="<%= status_of("marklogic :: build") %>">marklogic</span>      
            <span class="details"><%= @status.buildLabel %>                            
            <span class="commit_message"><%= commit_message("marklogic :: build") %>                
          </li>  
          <li class="upstream">
            <span class="<%= status_of("casper-commons :: build") %>">casper-commons</span>      
            <span class="details"><%= @status.buildLabel %>                            
            <span class="commit_message"><%= commit_message("casper-commons :: build") %>                
          </li>  
        </ol>
    </div>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>    
    <script defer src="js/global.js"></script>
  </body>
</html>
