<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/boilerplate.css">    
    <link rel="stylesheet" href="/css/style.css">
    <title>Cidar - Build Radiator</title>
  </head>
  <body>
    <div id="container">
          <li class="upstream">
            <div class="<%= status_of("core :: build") %>">
            <%= labelFor("core :: build") %>
            </div>      
            <div class="details"><%= @status.buildLabel %></div>                            
  	        <div class="commit_message"><%= commit_message("core :: build") %></div>              
          </li>  
          <li class="upstream">
            <div class="<%= status_of("core-marklogic :: integration-tests") %>">
            <%= labelFor("core-marklogic :: integration-tests") %>
            </div>      
            <div class="details"><%= @status.buildLabel %></div>                        
            <div class="commit_message"><%= commit_message("core-marklogic :: integration-tests") %></div>                
          </li> 
          <li class="upstream">
            <div class="<%= status_of("core-marklogic :: functional-tests") %>">
            <%= labelFor("core-marklogic :: functional-tests") %>
            </div>      
            <div class="details"><%= @status.buildLabel %></div>                        
            <div class="commit_message"><%= commit_message("core-marklogic :: functional-tests") %></div>                
          </li> 
          <li class="upstream">
            <div class="<%= status_of("dev-system-tests :: new-system-tests") %>">
            <%= labelFor("dev-system-tests :: new-system-tests") %>
            </div>      
            <div class="details"><%= @status.buildLabel %></div>                            
            <div class="commit_message"><%= commit_message("dev-system-tests :: new-system-tests") %></div>                
          </li> 
          <li class="upstream">
            <div class="<%= status_of("marklogic :: build") %>">
            <%= labelFor("marklogic :: build") %>
            </div>       
            <div class="details"><%= @status.buildLabel %></div>                             
            <div class="commit_message"><%= commit_message("marklogic :: build") %></div>                 
          </li>
    <div>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>    
    <script defer src="js/global.js"></script>
  </body>
</html>
